@use 'common/var' as *;

@font-face {
  font-family: "douluo-icons";
  src: url('./fonts/iconfont.woff?t=1660287069498') format('woff'),
       url('./fonts/iconfont.ttf?t=1660287069498') format('truetype');
}

[class^="dl-icon-"], [class*=" dl-icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "douluo-icons" !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  vertical-align: baseline;
  display: inline-block;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.dl-icon-error:before {
  content: "\e601";
}

.dl-icon-help:before {
  content: "\e662";
}

.dl-icon-shuaxin:before {
  content: "\e628";
}

.dl-icon-shezhi:before {
  content: "\e639";
}

.dl-icon-a-bianzu23:before {
  content: "\e651";
}

.dl-icon-a-xingzhuangjiehe22:before {
  content: "\e65a";
}

.dl-icon-shanchu:before {
  content: "\e605";
}

.dl-icon-shoucang-xuanze:before {
  content: "\e617";
}

.dl-icon-yanjing:before {
  content: "\e61a";
}

.dl-icon-a-you1:before {
  content: "\e621";
}

.dl-icon-zuo:before {
  content: "\e622";
}

.dl-icon-paiban-review-icon:before {
  content: "\e674";
}
