@use 'common/var' as *;

@font-face {
  font-family: "douluo-icons";
  src: url('./fonts/iconfont.woff?t=1660287069498') format('woff'),
       url('./fonts/iconfont.ttf?t=1660287069498') format('truetype');
}

[class^="dl-icon-"], [class*=" dl-icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "douluo-icons" !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  vertical-align: baseline;
  display: inline-block;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.dl-icon-warning:before {
  content: "\e606";
}

.dl-icon-info:before {
  content: "\e675";
}

.dl-icon-lock:before {
  content: "\e604";
}

.dl-icon-check:before {
  content: "\e663";
}

.dl-icon-success:before {
  content: "\e603";
}

.dl-icon-error:before {
  content: "\e601";
}

.dl-icon-help:before {
  content: "\e662";
}

.dl-icon-reflesh:before {
  content: "\e628";
}

.dl-icon-setting:before {
  content: "\e639";
}

.dl-icon-pass:before {
  content: "\e65a";
}

.dl-icon-delete:before {
  content: "\e605";
}

.dl-icon-star:before {
  content: "\e617";
}

.dl-icon-yanjing:before {
  content: "\e61a";
}

.dl-icon-right:before {
  content: "\e621";
}

.dl-icon-left:before {
  content: "\e622";
}

.dl-icon-review:before {
  content: "\e674";
}
