{
  "presets": ["@vue/app"],
  "plugins": [
    [
      "import",
      {
          "libraryName": "douluo-ui", // 组件库名称
          "camel2DashComponentName": false, // 关闭驼峰自动转链式
          "camel2UnderlineComponentName": false // 关闭蛇形自动转链式
      }
    ],
    "@babel/plugin-proposal-optional-chaining",
    "@babel/plugin-proposal-nullish-coalescing-operator"
    // "stage-2"
  ]
}
