@import 'developer/*'
@import 'element-ui/*'
@require './theme/index.styl';
// 文档图标库
@import '//at.alicdn.com/t/c/font_3584623_m93bbem50c.css'

.home header img
  width: 300px


.text.item
  line-height: 24px
  padding: 0

.demo-block .copy-code-button {
  display: none
}

.theme-default-content:not(.custom) {
  max-width: 880px}

.theme-default-content code {
  color: #476582;
}

body:not(.theme-dark) .theme-default-content code, body.theme-light .theme-default-content code {
  background: rgba(27, 31, 35, .05)
}

div[class*='language-'] {
  background: #fafafa;
}

.theme-default-content code {
  padding: 0.1rem 0.3rem
}

.icon-new {
  color: red;
  font-size: 20px;
}

th, td {
  border: none;
}

table {
  margin: 0;
}
