@import 'element-ui/*'
@require './theme/index.styl';
@import '//at.alicdn.com/t/c/font_3571680_rm5nv2ewht.css'

.home header img
  width: 300px


.text.item
  line-height: 24px
  padding: 0

.demo-block .copy-code-button {
  display: none
}
