.demo-badge .el-dropdown {
  vertical-align: middle;
}
.demo-badge {
  .share-button {
    width: 36px;
    padding: 10px;
  }

  .mark {
    margin-top: 8px;
    line-height: 1;
    float: right;
  }

  .item {
    margin-right: 40px;
  }
}
